/.vs/*
**/obj/**
**/bin/**
/Server/.vs/*
.history/
**/PublishProfiles/**
**/.DS_Store
/Server/HiSql.GUI/wwwroot/*
/Server/HiSql.GUI/wwwroot/assets/*
Web/node_modules/*
Web/dist/*

**/src/components.d.ts
**/src/auto-imports.d.ts
